@import './normalize.css';
@import './minireset.css';

/*
 * init
 * 样式初始化
 *
 * ··················· init ··················· */
body {
  color: $e-3;
  font-size: 14px !important;
  font-family: -apple-systee-font, microsoft yahei;
  background-color: $e-lightGray;
}

/* ··················· 滚动 ··················· */
.scroll-page {
  height: 100vh;

// 自定义全局高
&.without-nav {
  padding-top: 44px;
}

&.without-tabbar {
  padding-bottom: 55px;
}

&.without-tabbar-and-nav {
  padding-top: 44px;
  padding-bottom: 55px;
}
}

.scroll-view {
  height: 100%;
  overflow: hidden auto;
  -webkit-overflow-scrolling: touch;
}

/*
 * Common component
 * 以下是公共组件样式
 *
 * ··················· 布局 ··················· */
// 自动换行
.e-flex {
  display: flex;
  flex-wrap: wrap;
}

// 自动占满余量
.e-flex_auto {
  flex: 1;
  overflow: hidden;
}

// 上下居中
.e-flex_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// 上对齐
.e-flex_up {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

// 下对齐
.e-flex_down {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

// 左对齐
.e-flex_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// 右对齐
.e-flex_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// 弹性布局
.e-box {
  box-sizing: border-box;
}

// 全屏白色背景
.e-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: $e-f;

  &.fixed {
    position: fixed;
    z-index: 9;
  }
}

/* ··················· 文字属性 ··················· */
.e-indent {
  text-indent: 2em;
}
.e-preWrap {
  white-space: pre-wrap;
}
.e-txtC {
  text-align: center;
}
.e-txtR {
  text-align: right;
}
.e-txtL {
  text-align: left;
}
.e-vertM {
  vertical-align: middle;
}
// 兼容ios文字两端对齐， 无效原因不明
.e-align-justify {
  text-align: justify;
  &::after {
    display: inline-block;
    content: " ";
    width: 100%;
  }
}
.e-bold {
  font-weight: bold;
}
.e-font12 {
  font-size: 12px;
}
.e-font13 {
  font-size: 13px;
}
.e-font14 {
  font-size: 14px;
}
.e-font15 {
  font-size: 15px;
}
.e-font16 {
  font-size: 16px;
}
.e-font18 {
  font-size: 18px;
}
.e-font20 {
  font-size: 20px;
}
.e-font22 {
  font-size: 22px;
}
.e-font24 {
  font-size: 24px;
}

/* ··················· 颜色 ··················· */
.e-red {
  color: $e-red;
}
.e-blue {
  color: $e-blue;
}
.e-green {
  color: $e-green;
}
.e-yellow {
  color: $e-yellow;
}
.e-deepRed {
  color: $e-deepRed;
}
.e-lightRed {
  color: $e-lightRed;
}
.e-brownRed {
  color: $e-brownRed;
}
.e-blackGold {
  color: $e-blackGold;
}
.e-c3 {
  color: $e-3;
}
.e-c6 {
  color: $e-6;
}
.e-c9 {
  color: $e-9;
}
.e-cf {
  color: $e-f;
}
.e-bgGray {
  background: $e-gray;
}
.e-bgLightGray {
  background: $e-lightGray;
}
.e-bgWhite {
  background: $e-f;
}

/* ··················· 内边距 ··················· */
.e-pr10 {
  padding-right: 10px;
}
.e-pl10 {
  padding-left: 10px;
}
.e-pt10 {
  padding-top: 10px;
}
.e-pb10 {
  padding-bottom: 10px;
}
.e-pl20 {
  padding-left: 20px;
}
.e-pr20 {
  padding-right: 20px;
}
.e-pb20 {
  padding-bottom: 20px;
}
.e-pt20 {
  padding-top: 20px;
}
.e-pl30 {
  padding-left: 30px;
}
.e-pr30 {
  padding-right: 30px;
}
.e-pt30 {
  padding-top: 30px;
}
.e-pb30 {
  padding-bottom: 30px;
}

/* ··················· 外边距 ··················· */
.e-mt5 {
  margin-top: 5px;
}
.e-ml5 {
  margin-left: 5px;
}
.e-mr5 {
  margin-right: 5px;
}
.e-mb5 {
  margin-bottom: 5px;
}
.e-mt10 {
  margin-top: 10px;
}
.e-ml10 {
  margin-left: 10px;
}
.e-mr10 {
  margin-right: 10px;
}
.e-mb10 {
  margin-bottom: 10px;
}
.e-mt10 {
  margin-top: 10px;
}
.e-ml10 {
  margin-left: 10px;
}
.e-mr10 {
  margin-right: 10px;
}
.e-mb10 {
  margin-bottom: 10px;
}
.e-mt20 {
  margin-top: 20px;
}
.e-ml20 {
  margin-left: 20px;
}
.e-mr20 {
  margin-right: 20px;
}
.e-mb20 {
  margin-bottom: 20px;
}
.e-mt30 {
  margin-top: 30px;
}
.e-mb30 {
  margin-bottom: 30px;
}
.e-ml30 {
  margin-left: 30px;
}
.e-mr30 {
  margin-right: 30px;
}

/* ··················· 字间距 ··················· */
.e-lp1 {
  letter-spacing: -1px;
}

/* ··················· 行距 ··················· */
.e-lh1 {
  line-height: 1;
}
.e-lh2 {
  line-height: 2;
}
.e-lh3 {
  line-height: 3;
}
.e-lh4 {
  line-height: 4;
}

/* ··················· btn ··················· */
// 黄色按钮
.e-btnOrangeBg {
  background-color: $e-orange;
  color: $e-f;
}
// 深红按钮
.e-btnRedBg {
  background-image: linear-gradient(90deg, #f1170d 0%, #f2410d 100%), linear-gradient($e-deepRed, $e-deepRed);
  color: $e-f;
}
.e-btnRedBorder {
  border-color: $e-deepRed;
  background: $e-f;
  color: $e-deepRed;
}
// 黑金按钮
.e-btnBlackGoldBg {
  background-image: linear-gradient(90deg, #f1e6c6 0%, #dcc38d 100%), linear-gradient($e-deepRed, $e-deepRed);
  color: $e-blackGold;
}
.e-btnBlackGoldBorder {
  border-color: $e-blackGold;
  background: $e-f;
  color: $e-blackGold;
}
// 灰色不可选按钮
.e-grayBg {
  background: $e-e;
  color: #9a9a9a;
}
.e-grayBorder {
  background: $e-f;
  border-color: #d2d2d2;
  color: #999;
}

// 悬浮阴影按钮
.white-shadow-btn {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  background: $e-f;
  box-shadow: 0 0 5px $e-lightRed;
  text-align: center;
  color: $e-9;
  // font-size: 18px;

  .icon {
    color: $e-3;
    font-size: 30px;
  }

  &.has-text .icon {
    font-size: 22px;
    height: 19px;
    margin-top: -1px;
  }

  &.no-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// 按钮长度
.e-btn-s {
  width: 75px;
}
.e-btn-m {
  width: 120px;
}
.e-btn-l {
  width: 200px;
}

/* ··················· 缩略 ··················· */
.e-omit1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.e-omit2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* ··················· 1px border ··················· */
// border-top
.e-b-top {
  background-image: linear-gradient(0deg, $e-line 60%, transparent 40%), linear-gradient(90deg, transparent, transparent), linear-gradient(180deg, transparent, transparent),
    linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 100% 1px, 0, 0, 0;
}
.e-b-bottom {
  background-image: linear-gradient(0deg, transparent, transparent), linear-gradient(90deg, transparent, transparent), linear-gradient(180deg, $e-line 60%, transparent 40%),
    linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 0, 100% 1px, 0;
}
.e-b-bottom-red {
  background-image: linear-gradient(0deg, transparent, transparent), linear-gradient(90deg, transparent, transparent), linear-gradient(180deg, $e-lightRed 60%, transparent 40%),
    linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 0, 100% 1px, 0;
}
.e-b-left {
  background-image: linear-gradient(0deg, transparent, transparent), linear-gradient(90deg, transparent, transparent), linear-gradient(180deg, transparent, transparent),
    linear-gradient(270deg, $e-line 60%, transparent 40%);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 0, 0, 1px 100%;
}
.e-b-rb {
  padding: 1px;
  background-image: linear-gradient(0deg, transparent, transparent), linear-gradient(90deg, $e-line 60%, transparent 40%), linear-gradient(180deg, $e-line 60%, transparent 40%),
    linear-gradient(270deg, transparent, transparent);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 0, 1px 100%, 100% 1px, 0;
}
.e-b {
  padding: 1px;
  background-image: linear-gradient(0deg, $e-line 60%, transparent 40%), linear-gradient(90deg, $e-line 60%, transparent 40%), linear-gradient(180deg, $e-line 60%, transparent 40%),
    linear-gradient(270deg, $e-line 60%, transparent 40%);
  background-repeat: no-repeat;
  background-position: top, right, bottom, left;
  background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  &.on {
    background-image: linear-gradient(0deg, $e-red 60%, transparent 40%), linear-gradient(90deg, $e-red 60%, transparent 40%), linear-gradient(180deg, $e-red 60%, transparent 40%),
      linear-gradient(270deg, $e-red 60%, transparent 40%);
    color: $e-red;
  }
}

/* ··················· 产品相关 ··················· */
// 价格
.e-price {
  font-size: 14px;
  &.m {
    font-size: 15px;
  }
  &.l {
    font-size: 18px;
  }
  &::before {
    content: "￥";
    font-size: 12px;
  }
}

// 带阴影边框
.e-box_p {
  width: auto;
  margin: 15px;
  padding: 18px 14px;
  background: $e-f;
  border-radius: 5px;
  box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.03);

  &.mb0 {
    margin-bottom: 0;
  }
}
.e-box_f {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 13px;
  background: $e-f;
}

/* ··················· 遮罩 ··················· */
// 默认 不带动效
.e-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.7);
}

// 带动效
.e-mask_fade {
  transition: opacity 0.3s;
  z-index: -1;
  opacity: 0;
}

// 带动效 显示
.e-mask_show {
  z-index: 110;
  opacity: 1;
}

/* ··················· 定制居中弹框 ··················· */
.p-popup {
  box-sizing: border-box;
  width: 570px;
  padding: 35px 40px;
  .e-btn {
    font-size: 26px;
    width: 230px;
    height: 65px;
    line-height: 60px;
    padding: 0 !important;
  }
}

/* ··················· 定位 ··················· */
.e-relative {
  position: relative;
}
.e-absolute {
  position: absolute;
}

// 盒子宽高不定 上下居中
.e-fixed_mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.e-fixed_top {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translateX(-50%);
}

// 固定底部
.e-fixed_bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  margin: 0 auto;
}
// 底部按钮栏
.e-bottom-btnGroup {
  height: 55px;
  background-color: #fff;
  padding: 8px 10px;
  // border-top: 1px solid $e-line;
}

/* ··················· 浮动 ··················· */
.e-hide {
  display: none;
}
.e-block {
  display: block;
}
.e-iblock {
  display: inline-block;
}
.e-hidden {
  overflow: hidden;
}

/* ··················· 分割线 ··················· */
.e-gap-line {
  width: 100%;
  height: 1px;
  background: $e-line;
  margin: 35px 0;
}

/* ··················· 阴影 ··················· */
.e-shadow-default {
  box-shadow: 0px 10px 14px 1px rgba(0, 0, 0, 0.03);
}

/* ··················· 圆角 ··················· */
.e-border-radius-10 {
  border-radius: 10px;
}
