image {
  will-change: transform;
}

/* ··················· 二级导航 ··················· */
.goods-nav {
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0 32%;
  color: #999;
  font-size: 28upx;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  .nav-item-wrapper {
    height: 44px;
    line-height: 44px;
    padding: 0 15upx;
  }

  .nav-item {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-bottom: 4upx solid transparent;

    &.active {
      color: $e-lightRed;
      border-bottom-color: $e-lightRed;
    }
  }
}

/* ··················· 商品基本信息 ··················· */
.p-info {
  .brief {
    margin: 5px auto 10px;
    color: $e-9;
  }
}

.p-sku {
  padding: 10px 14px;

  .e-gap-line {
    margin: 5px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
  }

  .choose {
    flex: 1;
    margin-left: 15px;
    color: $e-3;
  }
}

// 参数
.p-params {
  position: relative;
  height: 225px;
  overflow: hidden;

  .title {
    font-size: 15px;
    font-weight: bold;
  }

  .sub-title {
    margin-top: 15px;
    padding-left: 10px;
    font-weight: bold;
  }

  .content {
    display: flex;
    padding: 10px;

    .name {
      flex: 1;
      color: $e-9;
    }

    .value {
      flex: 3;
    }
  }
}

// 查看更多
.read-more {
  width: 100%;
  height: 40px;
  justify-content: center;
  background: #fff;
  color: $e-lightRed;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
}
