/*
 * iconfont
 * 直接引用类名
 *
 * ··················· iconfont ··················· */
@font-face {
  font-family: "eshopfont";
  src: url("../assets/font/eshopfont.ttf") format("truetype");
}
.icon {
  font-size: 26px;
  vertical-align: unset;
  &::before,
  &::after {
    line-height: 1;
    font-family: "eshopfont";
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}
.icon-home::before {
  content: "\e681";
} // √

.icon-left::before {
  content: "\e67f";
} // √

.icon-right::before {
  content: "\e690";
} // √

.icon-up::before {
  content: "\e68d";
} // √

.icon-down::before {
  content: "\e689";
} // √

.icon-close::before {
  content: "\e67b";
} // √

.icon-location::before {
  content: "\e67d";
} // √

.icon-info::before {
  content: "\e68a";
} // √

.icon-unpaid::before {
  content: "\e691";
} // √

.icon-undeliver::before {
  content: "\e686";
} // √

.icon-delivered::before {
  content: "\e682";
} // √

.icon-completed::before {
  content: "\e688";
} // √

.icon-canceled::before {
  content: "\e68c";
} // √

.icon-logistics::before {
  content: "\e683";
} // √

.icon-share::before {
  content: "\e684";
} // √

.icon-customer::before {
  content: "\e67e";
} // √

.icon-trangle::before {
  content: "\e692";
} // √

.icon-cart::before {
  content: "\e680";
} // √

.icon-upload::before {
  content: "\e687";
} // √

.icon-add::before {
  content: "\e68e";
} // √

.icon-minus::before {
  content: "\e68f";
} // √

.icon-up-arrow::before {
  content: "\e693";
} // √

.icon-down-arrow::before {
  content: "\e685";
}

.icon-search::before {
  content: "\e67c";
} // √

.icon-empty-circle::before {
  content: "\e600";
}

.icon-check::before {
  content: "\e77d";
}

.icon-checked::before {
  content: "\e844";
}

/* ··················· ico ··················· */
.ico-lu3 {
  width: 50px;
  height: 70px;
  background: url('~@/assets/image/lu3.png') 0 0 / 100% no-repeat;

  &.sad {
    background-position: 0 -70px;
  }
}

.ico-state {
  width: 130px;
  background: url('~@/assets/image/state.png') 0 0 / 100% no-repeat;

  &.cart {
    height: 86px;
    background-position: 0 -278px;
  }

  &.cate {
    height: 83.5px;
    background-position: 0 -450px;
  }

  &.order {
    height: 85px;
    background-position: 0 -365px;
  }
}

