/*
 * 重置默认样式
 */

a {
  text-decoration: none;
  color: unset;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

button {
  display: inline-block;
  box-sizing: border-box;
  height: 40px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  outline: none;
}
