/*
 * 注意：编写CSS时，为方便后期维护，涉及到颜色请引用下方变量！！！
 */

$e-red: #d92b49; // 红
$e-blue: #2e629e; // 蓝
$e-gray: #f5f5f5; // 灰
$e-line: #eeeeee; // 线条
$e-green: #50b124; // 绿
$e-yellow: #e2cfb5; // 黄
$e-orange: #ff7300; // 橙
$e-3: #333; // 3
$e-6: #666; // 6
$e-9: #999; // 9
$e-e: #eee; // e
$e-f: #fff; // 白

/*
 * 上面颜色变量引自莫塞尔微信小程序项目，下方为E购码用到
 */

$e-deepRed: #e50112; // 深红
$e-lightRed: #f23c0d; // 浅红
$e-brownRed: #cf0a2c; // 褐红
$e-blackGold: #513e17; // 黑金
$e-lightGray: #f4f4f4; // 浅灰
